.container {
  width: calc(min(54rem, 100% - 50px));
  padding: 0 1rem;
  margin: 1.5rem auto 1rem;
  border: solid;
  padding: 2rem;
  border-radius: 20px;
  border-color: var(--border-color);
  box-shadow: 0px 0px 4px 4px var(--light-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.headerbar {
	position: sticky;
	width: 100%;
	top: 0;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
	padding: 0.8rem 0;
	margin: auto;
	background-color: var(--main-color);
	font-weight: var(--header-weight);
	font-size: var(--header-size);
	box-shadow: 0px 2px var(--light-color);
}

.rightheader {
	column-gap: var(--header-sep);
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
}

.leftheader {
	font-weight: 600;
	float: left;
  margin-left: 1.3rem;
  margin-right: 1rem;
}

